
@{
    ViewBag.Title = "ChangePasswordSuccess";
}


<style>
    .bottom-wrapper {
        margin: 50px 0 50px 0;
        padding: 15px 15px;
        text-align: center;
        background: linear-gradient(-135deg, #5BBD50, #E24425);
        opacity: .8 !important;
        overflow: hidden;
    }

    .message-head-bottom h4 {
        position: relative;
        color: #f5f5f5;
        font-family: 'Lobster Two';
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .success-image {
        margin-top: 50px;
        text-align: center;
        margin-bottom: 12px;
    }

    .success-image img {
        height: 96px;
        width: 96px;
        opacity: .7;
    }

    .success-header h4 {
        text-align: center;
        color: #515151;
        font-size: 20px;
        font-family: cursive;
        font-weight: 700;
    }
</style>

<div class="content">
    <div class="main">
        <div class="container">
            <div class="verification wow fadeInLeft" data-wow-delay="0.7s">
                <div class="success-image">
                    <img src="~/Content/Custom/images/reset-password-icon-29.jpg" />
                </div>
                <div class="success-header">
                    <h4>Your Password Has Been Changed</h4>
                </div>
            </div>
            <div class="bottom-wrapper wow fadeInRight" data-wow-delay="0.7s">
                <div class="message-head-bottom">
                    <h4 class="scroll-text">
                        Keep your password safe, and don't share it with anybody.
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    (function () {

	function textscroller() {

		var scrolltext = $('h4.scroll-text');
		var width = scrolltext.width();
        var horizontalAdj = - width + 300;

		scrolltext.animate({
			'left': [horizontalAdj, 'linear']
		}, 30000, function () {
            scrolltext.css('left', 800);
			textscroller();
		});
	}
	textscroller();

})();
</script>
